<!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/users/list">Usuarios</a>
    </li>
    <li class="breadcrumb-item active">Agregar usuario</li>
  </ol>
<!-- Breadcrumbs-->
<div class="card mb-3" id="app">
  <div class="card-header">
    <i class="fa fa-user-plus"></i> Agregar usuario
  </div>
  <div class="card-body">
    <div class="container">
      <div class="row ">
        <div class="col col-12 col-md-8">
          <form>
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-4 col-form-label text-right font-weight-bold">Nombres *</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="inputEmail3" placeholder="Nombres" v-model="name">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-4 col-form-label text-right font-weight-bold">Apellidos *</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="inputEmail3" placeholder="Apellidos">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-4 col-form-label text-right font-weight-bold">N° de Identificación *</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputEmail3" placeholder="Número de Identificación">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-4 col-form-label text-right font-weight-bold">Email</label>
              <div class="col-sm-8">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-4 col-form-label text-right font-weight-bold">Grado/Tipo</label>
              <div class="col-sm-8">
                <select class="form-control">
                  <option>11</option>
                  <option>10</option>
                  <option>9</option>
                  <option>8</option>
                  <option>7</option>
                  <option>6</option>
                  <option>5</option>
                  <option>4</option>
                  <option>3</option>
                  <option>2</option>
                  <option>1</option>
                  <option>Docentes</option>
                </select>
              </div>
            </div>
          </form>
        </div>
        <div class="col col-12 col-md-4">
            <div class="container">
              <div class="row justify-content-md-center">
                <img src="https://www.shareicon.net/data/2016/09/01/822725_user_512x512.png" alt="..." class="img-thumbnail" style="max-width: 12em;max-height: 14em;">
              </div>
            </div>
          <div class="input-group mb-3">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="inputGroupFile02">
              <label class="custom-file-label" for="inputGroupFile02">Buscar</label>
            </div>
            </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col col-sm-2">
            <button type="button" class=" btn btn-outline-primary btn-block" style="">Guardar</button>
        </div>
        <div class="col col-md-auto">
            <button type="button" class=" btn btn-outline-primary btn-block" style="">Guardar y crear otro</button>
        </div>
        <div class="col col-sm-2">
            <button type="button" class=" btn btn-outline-secondary btn-block" style="">Cancelar</button>
        </div>

        <!-- <div class="">
          <div class="form-group">
            <button type="button" class=" btn btn-outline-primary btn-block" style="">Guardar</button>
            <button type="button" class=" btn btn-outline-primary btn-block" style="">Guardar y seguir agregando</button>
            <button type="button" class=" btn btn-outline-secondary btn-block" style="padding: 0px 5px;font-size: 0.8em;">Cancelar</button>
          </div>
        </div> -->
      </div>

      <div>
        <small>* Campo obligatorio</small>
      </div>

    </div>
  </div>
  
</div>
